.project-workspace.shell-main { display:grid; grid-template-columns:230px minmax(460px,1fr) 330px; }
@media (max-width:1180px) { .project-workspace { grid-template-columns:200px minmax(400px,1fr) 290px; } }
@media (max-width:900px) { .project-workspace.shell-main { grid-template-columns:185px minmax(390px,1fr) 260px; overflow:auto; } }
